{% extends 'main/index.html' %}
{% load static %}

{% block title %}Наши фото{% endblock %}

{% block content %}
    <div class="photo">
        <figure>
            <img src="{% static 'main/img/photo_2024-01-30_17-59-55.jpg' %}" alt="1 фото">
            <img src="{% static 'main/img/photo_1_2024-02-07_21-30-13.jpg' %}" alt="2 фото">
            <img src="{% static 'main/img/photo_7_2024-02-07_21-30-13.jpg' %}" alt="3 фото">
            <img src="{% static 'main/img/photo_6_2024-02-07_21-30-13.jpg' %}" alt="4 фото">
            <img src="{% static 'main/img/photo_4_2024-02-07_21-30-13.jpg' %}" alt="5 фото">
            <img src="{% static 'main/img/photo_3_2024-02-07_21-30-13.jpg' %}" alt="6 фото">
            <img src="{% static 'main/img/photo_2_2024-02-07_21-30-13.jpg' %}" alt="7 фото">
            <img src="{% static 'main/img/photo_1_2024-02-07_21-36-37.jpg' %}" alt="8 фото">
            <img src="{% static 'main/img/photo_2_2024-02-07_21-36-37.jpg' %}" alt="9 фото">
            <img src="{% static 'main/img/photo_3_2024-02-07_21-36-37.jpg' %}" alt="10 фото">
            <img src="{% static 'main/img/photo_5_2024-02-07_21-36-37.jpg' %}" alt="11 фото">
            <img src="{% static 'main/img/photo_7_2024-02-07_21-36-37.jpg' %}" alt="12 фото">
            <img src="{% static 'main/img/photo_8_2024-02-07_21-36-37.jpg' %}" alt="13 фото">
            <img src="{% static 'main/img/photo_9_2024-02-07_21-36-37.jpg' %}" alt="14 фото">
            <img src="{% static 'main/img/photo_10_2024-02-07_21-36-37.jpg' %}" alt="15 фото">
            <img src="{% static 'main/img/photo_1_2024-02-07_21-40-01.jpg' %}" alt="16 фото">
            <img src="{% static 'main/img/photo_2_2024-02-07_21-40-01.jpg' %}" alt="17 фото">
            <img src="{% static 'main/img/photo_3_2024-02-07_21-40-01.jpg' %}" alt="18 фото">
            <img src="{% static 'main/img/photo_4_2024-02-07_21-40-01.jpg' %}" alt="19 фото">
            <img src="{% static 'main/img/photo_5_2024-02-07_21-40-01.jpg' %}" alt="20 фото">
            <img src="{% static 'main/img/photo_6_2024-02-07_21-40-01.jpg' %}" alt="21 фото">
            <img src="{% static 'main/img/photo_7_2024-02-07_21-40-01.jpg' %}" alt="22 фото">
            <img src="{% static 'main/img/photo_8_2024-02-07_21-40-01.jpg' %}" alt="23 фото">
        </figure>
    </div>
{% endblock %}