{% extends 'main/index.html' %}
{% load static %}

{% block title %}Пару слов{% endblock %}

{% block content %}
    <h1>Привет еще раз, моя королева. Хочу поздравить тебя с Днем Святого Валентина, и хочу сказать, что я очень сильно рад тому, что на данный момент мы есть друг у друга. Я с радостью создавал этот сайт, потому что знал, что он создается специально для тебя моя любимая. Я рад, и благодарен тебе за то, что ты до сих пор не отвернулась от меня, и вместе со мной идешь по пути к счастливой жизни. Я безгранично сильно люблю тебя мое солнышко.</h1>
{% endblock %}